= wrap_layout 'cn' do
  .row.main-content
    .large-3.small-12.columns
      .hide-for-small
        .sidebar
          %nav
            %ul.side-nav
              %li.heading
                %i.fa.fa-book
                = '爬虫'
              %li.nav-crawler-overview
                = link_to '爬虫概述', '/v1/overview.html'
              %li.nav-crawler-rules
                = link_to '爬虫规则', '/v1/rules.html'
    .large-9.small-12.columns
      .right-content
        - if content_for? :raw_content
          = yield_content :raw_content
        - else
          %h1= current_page.data.title
          %ol.toc
          .markdown= yield

  - content_for :second_nav do
    %ul.off-canvas-list
      %li
        %label= '爬虫'
      %li.nav-crawler-overview
        = link_to '爬虫概述', '/v1/overview.html'
      %li.nav-crawler-rules
        = link_to '爬虫规则', '/v1/rules.html'

  - content_for :javascripts do
    :coffee
      $('li.nav-crawler').addClass('active')
      $("li.nav-crawler-#{current_page.data.section}").addClass('active')

    = partial '/layouts/toc'
