= wrap_layout 'cn' do
  .row.main-content
    .large-3.small-12.columns
      .hide-for-small
        .sidebar
          %nav
            %ul.side-nav
              %li.heading
                %i.fa.fa-book
                = '库与插件'
              %li.nav-libs-overview
                = link_to '库与插件概述', '/libs/overview.html'
              %li.nav-libs-nodejs
                = link_to 'Node.js', '/libs/nodejs.html'
              %li.nav-libs-ruby
                = link_to 'Ruby', '/libs/ruby.html'
              %li.nav-libs-python
                = link_to 'Python', '/libs/python.html'
              %li.nav-libs-php
                = link_to 'PHP', '/libs/php.html'
              %li.nav-libs-android
                = link_to 'Android', '/libs/android.html'
              %li.nav-libs-swift
                = link_to 'Swift', '/libs/swift.html'
              %li.nav-libs-js
                = link_to  'Javascript', '/libs/js.html'
    .large-9.small-12.columns
      .right-content
        - if content_for? :raw_content
          = yield_content :raw_content
        - else
          %h1= current_page.data.title
          %ol.toc
          .markdown= yield

  - content_for :second_nav do
    %ul.off-canvas-list
      %li
        %label= '库与插件'
      %li.nav-libs-overview
        = link_to '库与插件概述', '/libs/overview.html'
      %li.nav-libs-nodejs
        = link_to 'Node.js', '/libs/nodejs.html'
      %li.nav-libs-ruby
        = link_to 'Ruby', '/libs/ruby.html'
      %li.nav-libs-python
        = link_to 'Python', '/libs/python.html'
      %li.nav-libs-php
        = link_to 'PHP', '/libs/php.html'
      %li.nav-libs-android
        = link_to 'Android', '/libs/android.html'
      %li.nav-libs-swift
        = link_to 'Swift', '/libs/swift.html'
      %li.nav-libs-js
        = link_to 'Javascript', '/libs/js.html'

  - content_for :javascripts do
    :coffee
      $('li.nav-libs').addClass('active')
      $("li.nav-libs-#{current_page.data.section}").addClass('active')

    = partial '/layouts/toc'
