---
layout: cn
nosearch: true
---

.main-content
  .main-title.row
    .large-12.columns
      %h2.text-center 微搜索
      %p.text-center 最好用的站内搜索引擎
  .search-box
    %form.row.collapse
      .large-3.columns.medium-2.small-1
        %p
      .large-5.columns.medium-6.small-7
        %input#ts-search-input{type: 'text', placeholder: '例如：自定义样式'}
      .large-1.columns.medium-2.small-2.end
        %input.button.primary.small{type: 'submit', value: '搜索'}
  .row
    %hr
  .brand-nav.wrap
    .row
      %ul.large-block-grid-4.small-block-grid-2.medium-block-grid-4.large-12.columns
        %li.text-center
          = link_to '/guides/overview.html' do
            %i.fa.fa-book
            %h5 指南
        %li.text-center
          = link_to '/v1/overview.html' do
            %i.fa.fa-cogs
            %h5 API
        %li.text-center
          = link_to '#' do
            %i.fa.fa-rocket
            %h5 爬虫
        %li.text-center
          = link_to '/libs/overview.html' do
            %i.fa.fa-briefcase
            %h5 库与插件
  .wrap.welcome.black-bg
    .row
      .large-6.medium-6.small-12.columns.text-right
        %a.button.primary.large{:href => "http://dashboard.tinysou.com/signup"} 立即试用
      .large-6.medium-6.columns.text-left.show-for-medium-up
        = image_tag("logo.png")
