---
layout: cn
nosearch: true
---

.main-content
  .main-title.row
    .large-12.columns
      %h2.text-center 微搜索
      %p.text-center 最好用的站内搜索引擎
  .search-box
    %form.row.collapse
      .large-3.columns.medium-2.small-1
        %p
      .large-5.columns.medium-6.small-7
        %input#ts-search-input{type: 'text', placeholder: '例如：自定义样式'}
      .large-1.columns.medium-2.small-2.end
        %input.button.primary.small{type: 'submit', value: '搜索'}
  .row
    %hr
  .brand-nav.wrap
    .row
      %ul.large-block-grid-4.small-block-grid-2.medium-block-grid-4.large-12.columns
        %li.text-center
          = link_to '/guides/overview.html' do
            %i.fa.fa-book.fa-5x
            %h5 指南
        %li.text-center
          = link_to '/v1/overview.html' do
            %i.fa.fa-cogs.fa-5x
            %h5 API
        %li.text-center
          = link_to '/crawler/overview.html' do
            %i.fa.fa-rocket.fa-5x
            %h5 爬虫
        %li.text-center
          = link_to '/libs/overview.html' do
            %i.fa.fa-briefcase.fa-5x
            %h5 库与插件
  .wrap.welcome.black-bg
    .row
      .large-4.large-offset-2.medium-6.columns.text-center
        %a.button.primary.large{:href => "http://tinysou.com/plan.html"} 立即试用
      .large-4.end.medium-6.columns.text-center
        %span{:'data-tooltip' => true, :'aria-haspopup' => 'true', :class => 'has-tip', :title => '关注微搜索微信公众号，给我们提意见'}
          = image_tag('http://tinysou-cdn.b0.upaiyun.com/assets/images/qrcode_wx.jpg')
